--extra-index-url https://download.pytorch.org/whl/cpu

# API
fastapi==0.111.0
uvicorn[standard]==0.29.0
python-multipart==0.0.9

# Embeddings
#sentence-transformers==3.0.1
#torch==2.3.0
#transformers==4.41.2

sentence-transformers==3.0.1
torch==2.3.0+cpu

# Vector DB
qdrant-client==1.9.1

httpx==0.27.0

# Caching
redis==5.0.4
hiredis==2.3.2

# Database
motor==3.4.0
pymongo==4.7.2

# Task Queue
celery==5.4.0
kombu==5.3.7

# Data
datasets==2.19.1
huggingface-hub==0.23.2

# Validation
pydantic==2.7.1
pydantic-settings==2.3.0

# Logging
loguru==0.7.2

# HTTP client
httpx==0.27.0

# Utils
python-dotenv==1.0.1
numpy==1.26.4
tqdm==4.66.4
tenacity==8.3.0

# Streamlit UI
streamlit==1.35.0
plotly==5.22.0
pandas==2.2.2

# Testing
pytest==8.2.1
pytest-asyncio==0.23.7
pytest-mock==3.14.0
httpx==0.27.0
